<img src="images/logo.png" class="header-logo" />
<div class="alert alert-danger" ng-show="error">
  <p>There was a problem submitting your pledge. Please verify the information and try again</p>
</div>
<form name="pledgeForm" ng-submit="submit()">
  <div class="form-group">
    <label for="pledge-name">Name</label>
    <input type="text" class="form-control" id="pledge-name" ng-model="pledge.donor.name" required />
  </div>
  <div class="form-group">
    <label for="pledge-phone">Cell Number</label>
    <input type="tel" id="pledge-phone" class="form-control" ng-model="pledge.donor.phone" required />
  </div>
  <div class="form-group">
    <label for="pledge-amount">Pledge Amount</label>
    <div class="input-group">
      <span class="input-group-addon">$</span>
      <input type="number" id="pledge-amount" class="form-control" ng-model="pledge.amount" required />
    </div>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" id="pledge-anonymous" ng-model="pledge.anonymous" />
      Pledge anonymously
    </label>
  </div>
  <button type="submit" ng-disabled="pledgeForm.$invalid || saving" class="btn btn-primary btn-block btn-lg">{{saving ? 'Sending...' : 'Pledge'}}</button>
</form>