<header class="header-default">
  <h1>Thank You!</h1>
</header>
<section class="container separator">
  <ul class="indicator-bullets">
    <li class="success-bullet check-bullet">
      We've recorded your pledge of <strong>{{pledge.amount | currency:'$':0}}</strong>.
    </li>
    <li class="success-bullet alert-bullet" ng-if="!pledge.anonymous">
      Look up! You're on the big screen!
    </li>
  </ul>
  <div class="badge-container">
    <div class="badge badge-fail">
      <i class="icon icon-heart beating-heart"></i>
    </div>
  </div>
</section>
<section class="container receipt">
  <table class="table-simple">
    <tr>
      <th>Name:</th>
      <td>{{pledge.donor.name}}</td>
    </tr>
    <tr ng-show="pledge.donor.phone">
      <th>Phone:</th>
      <td>{{pledge.donor.phone}}</td>
    </tr>
    <tr ng-show="pledge.donor.email">
      <th>Email:</th>
      <td>{{pledge.donor.email}}</td>
    </tr>
    <tr>
      <th>Amount:</th>
      <td>{{pledge.amount | currency:'$':0}}</td>
    </tr>
  </table>
  <small>
    <span ng-if="pledge.campaign.payments">You will receive a receipt once payment is complete.</span>
    <span ng-if="!pledge.campaign.payments">You will receive instructions via email in the coming days on how to fulfill your pledge.</span>
  </small>
</section>
