<div class="container separator">
  <img ng-src="{{campaign.metadata.logo}}" class="logo" />
</div>
<div class="alert alert-danger" ng-show="pledgeForm.submission.failure">
  <p>There was a problem submitting your pledge. Please verify the information and try again.</p>
</div>
<div class="container separator fundraising-total">
  <h2 class="tile-prefix">We've Raised</h2>
  <h1 class="tile tile-primary" bd-loading promise="firebase">${{campaign.total() | number}}</h1>
</div>
<form class="form full-height" name="pledgeForm" bd-submit="submit()" novalidate>
  <div class="container">
    <div class="form-group">
      <label for="pledge-name">Full Name</label>
      <input type="text" class="form-control" id="pledge-name" full-name ng-model="pledge.donor.name" name="name" required />
      <div id="pledge-name-error" ng-show="pledgeForm.name.$invalid && pledgeForm.name.$touched" class="error">
        Please enter your <em>full</em> name
      </div>
    </div>
    <div class="form-group" ng-if="campaign.$shows('phone')">
      <label for="pledge-phone">Cell Number</label>
      <input type="tel" id="pledge-phone" class="form-control" ng-model="pledge.donor.phone" name="phone" required />
      <div id="pledge-phone-error" ng-messages="pledgeForm.phone.$error" ng-show="pledgeForm.phone.$touched" class="error">
        <span ng-message="required">Please enter a phone number</span>
      </div>
    </div>
    <div class="form-group" ng-if="campaign.$shows('email')">
      <label for="donor-email">Email</label>
      <input type="email" class="form-control" id="donor-email" ng-model="pledge.donor.email" name="email" required />
      <div ng-messages="pledgeForm.email.$error" ng-if="pledgeForm.email.$touched">
        <span ng-message="required" class="error">Please enter your email</span>
        <span ng-message="email" class="error">Please enter a valid email</span>
      </div>
    </div>
    <div class="form-group">
      <label for="pledge-amount">Pledge Amount</label>
      <div class="input-group addon-prepend">
        <span class="input-addon">$</span>
        <input type="number" pattern="[0-9]*" id="pledge-amount" class="form-control" ng-model="pledge.amount" name="amount" required />
      </div>
      <div id="pledge-amount-error" ng-messages="pledgeForm.amount.$error" ng-if="pledgeForm.amount.$touched" class="error">
        <span ng-message="required">Please enter a pledge amount</span>
      </div>
    </div>
    <div class="form-group">
      <a class="text-control" ng-hide="pledge.anonymous" ng-click="pledge.anonymous = true">Keep my pledge anonymous</a>
      <span class="text-control" ng-show="pledge.anonymous">Your pledge will appear onscreen as "Anonymous." <a ng-click="pledge.anonymous = false">Undo</a></span>
    </div>
  </div>
  <button type="submit" submit-button pending="Sending..." ng-disabled="pledgeForm.$invalid" class="button button-primary button-bottom" bd-touch="button-translucent">Pledge</button>
</form>
