<div class="container separator">
  <img ng-src="{{campaign.metadata.logo}}" class="logo" />
</div>
<div class="alert alert-danger" ng-show="pledgeForm.submission.failure">
  <p>There was a problem submitting your pledge. Please verify the information and try again.</p>
</div>
<div class="container separator fundraising-total">
  <h2 class="tile-prefix">We've Raised</h2>
  <h1 class="tile tile-primary" bd-loading promise="firebase">${{campaign.total() | number}}</h1>
</div>
<form class="form full-height" name="pledgeForm" bd-submit="submit()" novalidate>
  <div class="container">
    <div class="form-group">
      <label for="pledge-name">Full Name</label>
      <input type="text" class="form-control" id="pledge-name" full-name ng-model="pledge.donor.name" name="name" required />
      <div ng-messages="pledgeForm.name.$error" ng-if="pledgeForm.name.$touched">
        <div ng-message="fullName" class="error">Please enter your <em>full</em> name</div>
      </div>
    </div>
    <div class="form-group">
      <label for="pledge-phone">Cell Number</label>
      <input type="tel" id="pledge-phone" class="form-control" ng-model="pledge.donor.phone" name="phone" required />
      <div ng-messages="pledgeForm.phone.$error" ng-if="pledgeForm.phone.$touched">
        <div ng-message="required" class="error">Please enter a phone number</div>
      </div>
    </div>
    <div class="form-group">
      <label for="pledge-amount">Pledge Amount</label>
      <div class="input-group addon-prepend">
        <span class="input-addon">$</span>
        <input type="number" pattern="[0-9]*" id="pledge-amount" class="form-control" ng-model="pledge.amount" name="amount" required />
      </div>
      <div ng-messages="pledgeForm.amount.$error" ng-if="pledgeForm.amount.$touched">
        <div ng-message="required" class="error">Please enter a pledge amount</div>
      </div>
    </div>
    <div class="form-group">
      <a class="text-control" ng-hide="pledge.anonymous" ng-click="pledge.anonymous = true">Keep my pledge anonymous</a>
      <span class="text-control" ng-show="pledge.anonymous">Your pledge will appear onscreen as "Anonymous." <a ng-click="pledge.anonymous = false">Undo</a></span>
    </div>
  </div>
  <button type="submit" submit-button pending="Sending..." ng-disabled="pledgeForm.$invalid" class="button button-primary button-bottom" bd-touch="button-translucent">Pledge</button>
</form>
