<div class="container separator">
  <img ng-src="{{campaign.metadata.logo}}" class="logo" />
</div>
<div class="alert alert-danger" ng-show="pledgeForm.submission.failure">
  <p>There was a problem submitting your pledge. Please verify the information and try again.</p>
</div>
<div class="container separator fundraising-total">
  <h2 class="tile-prefix">We've Raised</h2>
  <h1 class="tile tile-primary">$10,000</h1>
</div>
<form class="form full-height" name="pledgeForm" bd-submit="submit()">
  <div class="container">
    <div class="form-group">
      <label for="pledge-name">Full Name</label>
      <input type="text" class="form-control" id="pledge-name" full-name ng-model="pledge.donor.name" required />
    </div>
    <div class="form-group">
      <label for="pledge-phone">Cell Number</label>
      <input type="tel" id="pledge-phone" class="form-control" ng-model="pledge.donor.phone" required />
    </div>
    <div class="form-group">
      <label for="pledge-amount">Pledge Amount</label>
      <div class="input-group addon-prepend">
        <span class="input-addon">$</span>
        <input type="number" id="pledge-amount" class="form-control" ng-model="pledge.amount" required />
      </div>
    </div>
    <div class="form-group">
      <a class="text-control" ng-hide="pledge.anonymous" ng-click="pledge.anonymous = true">Keep my pledge anonymous</a>
      <span class="text-control" ng-show="pledge.anonymous">Your pledge will appear onscreen as "Anonymous." <a ng-click="pledge.anonymous = false">Undo</a></span>
    </div>
  </div>
  <button type="submit" submit-button pending="Sending..." ng-disabled="pledgeForm.$invalid" class="button button-primary button-bottom" bd-touch="button-translucent">Pledge</button>
</form>
