<header class="header-default">
  <h1>Thank You!</h1>
</header>
<section class="container separator">
  <ul class="indicator-bullets">
    <li class="success-bullet check-bullet">
      We are processing your donation of <strong>{{payment.amount | money}}</strong>.
    </li>
    <!-- <li class="success-bullet alert-bullet">
      Thanks to you and {{campaign.aggregates.count}} generous donors, we have raised a total of {{campaign.aggregates.total | money}}!
    </li> -->
  </ul>
  <div class="badge-container">
    <div class="badge badge-success">
      <i class="icon icon-check"></i>
    </div>
  </div>
</section>
<section class="container pledge-receipt">
  <table class="table-simple">
    <tr>
      <th>Name:</th>
      <td>{{pledge.donor.name}}</td>
    </tr>
    <tr>
      <th>Phone:</th>
      <td>{{pledge.donor.phone}}</td>
    </tr>
    <tr>
      <th>Amount:</th>
      <td>{{pledge.amount | money}}</td>
    </tr>
  </table>
  <small>You will receive a receipt once payment is complete.</small>
</section>
