<header class="header-default">
  <h1>Thank You!</h1>
</header>
<section class="container separator">
  <ul class="indicator-bullets">
    <li class="success-bullet check-bullet">
      We've processed your donation of <strong>{{payment.amount | currency:'$':0}}</strong>.
    </li>
    <!-- <li class="success-bullet alert-bullet">
      Thanks to you and {{campaign.aggregates.count}} generous donors, we have raised a total of {{campaign.aggregates.total | currency:'$':0}}!
    </li> -->
  </ul>
  <div class="badge-container">
    <div class="badge badge-success">
      <i class="icon icon-check"></i>
    </div>
  </div>
</section>
<section class="container receipt">
  <table class="table-simple">
    <tr>
      <th>Name:</th>
      <td>{{donor.name}}</td>
    </tr>
    <tr>
      <th>Amount:</th>
      <td>{{payment.amount | currency:'$':0}}</td>
    </tr>
      <tr>
        <th>Date:</th>
        <td>{{payment.created_at | date:'shortDate' }}</td>
      </tr>
    <tr>
      <th>Status:</th>
      <td>Complete</td>
    </tr>
    <tr>
      <th>Email:</th>
      <td>{{donor.email}}</td>
    </tr>
    <tr>
      <th>Phone:</th>
      <td>{{donor.phone}}</td>
    </tr>
  </table>
</section>
