.button {
  padding: 1em;
  border-radius: 3px;
  background: none;
  border: $control-border;
  color: inherit;
  font-family: inherit;
  cursor: pointer;
  transition: opacity .2s ease-in-out;
}

.button-primary {
  color: white;
  background: $primary-color;
  border: 1px solid $primary-color-border;
}

.full-width .button {
  font-size: 1.5em;
  border-radius: 0;
}

.button-bottom {
  display: block;
  width: 100%;
  margin: -$container-padding;
  border-width: 3px 0 0 0;
  margin: 0;
}

.button-translucent {
  opacity: .8;
}