.form {
  display: block;
  margin: 1em 0;
}

.form-control {
  display: block;
  margin: 0;
  width: 100%;
  outline: none;

  font-size: 1.25em;
  padding: .5em;

  border-radius: 3px;
  border: 1px solid #ADADAD;
  $shadow: inset 1px 2px 1px 0 rgba(black, 0.1);
  @include box-shadow($shadow);

  @include transition(box-shadow ease-in-out .1s, border-color ease-in-out .1s);

  &:focus {
    border-color: $primary-color;
    @include box-shadow($shadow, 0 0 2px 0 $primary-color);
  }
}

.form-group {
  margin-bottom: 1em;
}

label {
  display: inline-block;
  margin-bottom: .5em;
}
