.container {
  padding: $container-padding;
}

.full-width {
  width: 100%;
  margin: -$container-padding;
}

.align-bottom {
  position: fixed;
  bottom: 0;

  &.full-width {
    margin-bottom: 0;
  }
}
