.no-flexbox, .flexbox-legacy {
  #payment-cc-exp input {
    width: 45%;
  }
}

#payment-cc-cvc {
  width: 100%;
}

.pay-later {
  font-size: 1em;
  text-align: center;
}

.pledge-increase-buttons {
  padding: .5em 0;
  @include display(flex);

  button {
    @include flex(1);
    margin: 0 .25em;
  }
}
