.no-flexbox, .flexbox-legacy {
  #payment-cc-exp input {
    width: 45%;
  }
}

#payment-cc-cvc {
  width: 100%;
}

.pay-later {
  font-size: 1em;
  text-align: center;
}

.payment-pledge-summary {
  text-align: center;
  h2 {
    line-height: 1.5em;
  }
}
