.fundraising-total {
  font-size: .5em;
  text-align: center;

  .tile-prefix {
    margin-bottom: 1em;
    text-transform: uppercase;
  }

  .tile {
    font-size: 4em;

    .loading-indicator-content {
      .circle {
        background: rgba(white, .5);
      }
    }
  }
}

.pledge-receipt {
  font-size: .85em;
}
